PORT=3001
WHATSAPP_SESSION_NAME=main
GATEWAY_API_TOKEN=change-me
LARAVEL_WEBHOOK_URL=https://ofis.parisvia.com/api/webhooks/whatsapp/groups
LARAVEL_WEBHOOK_SECRET=change-me
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
